Ad Intelligence - 3. Creative
{
  "name": "Ad Intelligence - 3. Creative Generator (Public V3)",
  "nodes": [
    {
      "parameters": {},
      "id": "0025af18-ee91-4cc5-b58b-994d41e35f2c",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -8304,
        416
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SOr0Bxkn2Luf85EADvFdFfJbkc0kPUYbRGduKjGNieI",
          "mode": "list",
          "cachedResultName": "Big Players Ad Intelligence (Public)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SOr0Bxkn2Luf85EADvFdFfJbkc0kPUYbRGduKjGNieI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1373665098,
          "mode": "list",
          "cachedResultName": "Brand_Guidelines",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SOr0Bxkn2Luf85EADvFdFfJbkc0kPUYbRGduKjGNieI/edit#gid=1373665098"
        },
        "options": {}
      },
      "id": "9fd96fe8-8217-4198-862c-12766360ec3b",
      "name": "Read Brand Guidelines",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -8080,
        416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7rou2y9XeyGHdBO0",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract Brand Info from sheet and merge with incoming ad data\nconst brandRows = $('Read Brand Guidelines').all();\nconst adData = $('When Executed by Another Workflow').first().json;\n\n// Build brand_info object from key-value pairs\nconst brandInfo = {};\n\n// DEBUG: Log what we're getting from the sheet\nconsole.log('Brand rows count:', brandRows.length);\nif (brandRows.length > 0) {\n  console.log('First row keys:', Object.keys(brandRows[0].json));\n  console.log('First row data:', JSON.stringify(brandRows[0].json));\n}\n\nbrandRows.forEach(row => {\n  const data = row.json;\n  \n  // Try multiple possible column name formats\n  // Google Sheets returns data with header names as keys\n  const key = data.Field || data.field || data.Key || data.key || data.A || data['Field'] || data['A'];\n  const value = data.Value || data.value || data.Content || data.content || data.B || data['Value'] || data['B'];\n  \n  if (key && value) {\n    // Normalize key: lowercase, replace spaces/hyphens with underscores\n    const normalizedKey = String(key).toLowerCase().replace(/\\s+/g, '_').replace(/-/g, '_');\n    brandInfo[normalizedKey] = value;\n    console.log(`Mapped: ${key} -> ${normalizedKey} = ${String(value).substring(0, 50)}...`);\n  }\n});\n\n// If we got no data from key-value format, try single row with all columns\nif (Object.keys(brandInfo).length === 0 && brandRows.length > 0) {\n  console.log('No key-value pairs found, trying column format...');\n  const data = brandRows[0].json;\n  Object.keys(data).forEach(key => {\n    if (data[key] && typeof data[key] === 'string') {\n      const normalizedKey = key.toLowerCase().replace(/\\s+/g, '_').replace(/-/g, '_');\n      brandInfo[normalizedKey] = data[key];\n    }\n  });\n}\n\n// Field mappings for normalization (map various names to standard names)\nconst fieldMappings = {\n  'brand': 'brand_name', 'name': 'brand_name', 'company': 'brand_name', 'brand_name': 'brand_name',\n  'description': 'description', 'about': 'description', 'tagline': 'tagline',\n  'target': 'target_audience', 'audience': 'target_audience', 'icp': 'target_audience', 'target_audience': 'target_audience',\n  'pain_points': 'pain_points', 'pains': 'pain_points', 'problems': 'pain_points',\n  'usps': 'key_USPs', 'key_usps': 'key_USPs', 'benefits': 'key_USPs', 'key_usps': 'key_USPs',\n  'voice': 'voice', 'tone': 'voice', 'voice_keywords': 'voice_keywords',\n  'example_headlines': 'example_headlines', 'headlines': 'example_headlines',\n  'forbidden_words': 'forbidden_words', 'forbidden_phrases': 'forbidden_words',\n  'primary_color': 'background_color', 'background_color': 'background_color',\n  'secondary_color': 'secondary_color', 'text_color': 'secondary_color',\n  'accent_color': 'accent_color', 'cta_color': 'accent_color',\n  'primary_font': 'primary_font', 'font': 'primary_font',\n  'font_fallback': 'font_fallback',\n  'typography_tracking': 'typography_tracking', 'tracking': 'typography_tracking',\n  'typography_line_height': 'typography_line_height', 'line_height': 'typography_line_height',\n  'audience_persona': 'audience_persona',\n  'content_pillars': 'content_pillars',\n  'product_name': 'product_name',\n  'website_url': 'website_url',\n  'logo_url': 'logo_url'\n};\n\n// Create normalized brand info with standard field names\nconst normalizedBrandInfo = {};\nObject.keys(brandInfo).forEach(key => {\n  const standardKey = fieldMappings[key] || key;\n  normalizedBrandInfo[standardKey] = brandInfo[key];\n});\n\nconsole.log('Final brand_info keys:', Object.keys(normalizedBrandInfo));\nconsole.log('brand_name:', normalizedBrandInfo.brand_name);\nconsole.log('pain_points:', normalizedBrandInfo.pain_points?.substring(0, 100));\n\n// Parse vision_json if it's a string\nlet visionJson = adData.vision_json;\nif (typeof visionJson === 'string' && visionJson) {\n  try { visionJson = JSON.parse(visionJson); } catch (e) { console.log('Vision JSON parse error:', e); }\n}\n\n// Parse marketing_insights if it's a string\nlet marketingInsights = adData.marketing_insights;\nif (typeof marketingInsights === 'string' && marketingInsights) {\n  try { marketingInsights = JSON.parse(marketingInsights); } catch (e) { console.log('Marketing insights parse error:', e); }\n}\n\nreturn [{\n  json: {\n    ...adData,\n    brand_info: normalizedBrandInfo,\n    vision_json: visionJson,\n    marketing_insights: marketingInsights\n  }\n}];"
      },
      "id": "d28ecb26-996d-4021-914e-814aef6cfa63",
      "name": "Extract Brand Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7872,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// STEP 1: GENERATE 3 CREATIVE CONCEPTS\n// Uses Kallaway Psychology Framework for original ideation\n// =============================================================================\n\nconst prevData = items[0].json;\n\nconst visionJson = prevData.vision_json || {};\nconst psychologyAnalysis = prevData.marketing_insights || {};\nconst competitorCopy = prevData.body_text || '';\nconst brandInfo = prevData.brand_info || {};\n\n// DEBUG: Log brand info to verify it's populated\nconsole.log('Brand info keys:', Object.keys(brandInfo));\nconsole.log('Brand name:', brandInfo.brand_name);\nconsole.log('Pain points:', brandInfo.pain_points?.substring(0, 100));\n\nconst prompt = `You are an elite advertising creative director who specializes in direct-response ads for B2B SaaS. You use the Kallaway Psychology Framework to create ads that hack human behavior.\n\n## YOUR TASK\n\nCreate 3 ORIGINAL ad concepts for the brand below. Do NOT just swap words from the competitor ad. Instead:\n1. Understand WHY the competitor's ad psychology works\n2. Apply those psychological principles to the brand's unique positioning\n3. Generate fresh, specific, concrete concepts that would make the target audience stop scrolling\n\n## COMPETITOR AD ANALYSIS\n\n**What the competitor ad said:**\n${competitorCopy}\n\n**Visual structure that worked:**\n${JSON.stringify(visionJson.composition || {}, null, 2)}\n\n**Psychology that made it effective:**\n${JSON.stringify(psychologyAnalysis, null, 2)}\n\n## BRAND CONTEXT (THIS IS WHO YOU'RE CREATING ADS FOR)\n\n**Brand:** ${brandInfo.brand_name || 'Unknown'}\n**Tagline:** ${brandInfo.tagline || ''}\n**What they do:** ${brandInfo.description || brandInfo.tagline || 'AI-powered solution'}\n**Product name:** ${brandInfo.product_name || brandInfo.brand_name || ''}\n\n**Target audience:** ${brandInfo.target_audience || 'Business owners'}\n\n**Audience persona:**\n${brandInfo.audience_persona || '- Not specified'}\n\n**Primary pain points (USE THESE - they are gold):**\n${brandInfo.pain_points || '- Not specified'}\n\n**Key USPs - specific proof points (USE THESE NUMBERS):**\n${brandInfo.key_usps || brandInfo.key_USPs || '- Not specified'}\n\n**Voice/tone:**\n${brandInfo.voice || 'professional, direct'}\n\n**Voice keywords (use these words):**\n${brandInfo.voice_keywords || ''}\n\n**Example headlines that represent the brand voice:**\n${brandInfo.example_headlines || '- Not specified'}\n\n**Forbidden words/phrases (NEVER USE):**\n${brandInfo.forbidden_words || 'None specified'}\n\n**Brand colors:**\n- Background: ${brandInfo.background_color || brandInfo.primary_color || '#0a0a0a'}\n- Text: ${brandInfo.secondary_color || '#f7f4f0'}\n- Accent (CTA): ${brandInfo.accent_color || '#FADC3C'}\n\n## KALLAWAY PSYCHOLOGY FRAMEWORK\n\n**The Four Horsemen of Desires** (every ad must promise to unlock ONE primary):\n1. 💰 MONEY - Wealth, revenue, cost savings, financial freedom\n2. ⏰ TIME - Efficiency, automation, shortcuts, freedom\n3. 💪 HEALTH - Physical, mental, longevity (rare for B2B)\n4. 🏆 STATUS - Recognition, competitive advantage, being ahead\n\n**The Six Checkpoints** (every ad must pass ALL SIX):\n1. PAIN - Trigger and aggravate the specific pain point\n2. TRUST - Establish credibility (numbers, proof, specificity)\n3. CONTRARIAN - Offer a differentiated approach\n4. LIKABILITY - Be human, authentic, relatable\n5. REHOOK - Maintain interest through the entire ad\n6. CTA - Clear, compelling call to action\n\n**Hook Archetypes:**\n- FORTUNE TELLER: Predict a future outcome\n- MAGICIAN: Achieve the impossible\n- INVESTIGATOR: Uncover hidden truth\n- CONTRARIAN: Challenge accepted wisdom\n- TEACHER: Educational revelation\n- EXPERIMENTOR: Test with surprising results\n\n**Hook Formula (3 steps):**\n1. LEAN-IN: Pattern interrupt that grabs attention\n2. INTERJECTION: Pivot word (But, However, What if)\n3. SNAPBACK: Contrarian redirect\n\n## OUTPUT REQUIREMENTS\n\n{\n  \"concepts\": [\n    {\n      \"concept_name\": \"Short descriptive name\",\n      \"primary_horseman\": \"Money|Time|Status\",\n      \"hook_archetype\": \"Fortune Teller|Magician|Investigator|Contrarian|Teacher|Experimentor\",\n      \"hook\": {\n        \"full_hook\": \"Complete hook as it would appear\",\n        \"lean_in\": \"The attention-grabbing opener\",\n        \"interjection\": \"The pivot word/phrase\",\n        \"snapback\": \"The contrarian reframe\"\n      },\n      \"copy\": {\n        \"headline\": \"Main headline text\",\n        \"subheadline\": \"Supporting line\",\n        \"data_point\": \"Specific number/stat from brand USPs\",\n        \"cta_text\": \"Button text\",\n        \"cta_subtext\": \"Optional line below CTA\"\n      },\n      \"visual_concept\": {\n        \"description\": \"Detailed description of what the IMAGE should show\",\n        \"key_elements\": [\"List\", \"of\", \"visual\", \"elements\"],\n        \"mood\": \"The emotional tone\",\n        \"avoid\": \"What NOT to show\"\n      },\n      \"psychology_mapping\": {\n        \"pain_checkpoint\": \"How this triggers pain\",\n        \"trust_checkpoint\": \"How this builds credibility\",\n        \"contrarian_checkpoint\": \"How this differs\",\n        \"likability_checkpoint\": \"What makes this human\",\n        \"rehook_checkpoint\": \"How interest is maintained\",\n        \"cta_checkpoint\": \"Why the CTA works\"\n      },\n      \"one_sentence_summary\": \"What would someone tell a friend?\"\n    }\n  ]\n}\n\n## CRITICAL RULES\n\n1. BE SPECIFIC - Use concrete numbers and scenarios from the brand's USPs above. Generic claims fail; specific metrics convert.\n2. USE THE BRAND'S ACTUAL NUMBERS - Pull specific stats directly from the Key USPs provided in the brand context above.\n3. USE THEIR LANGUAGE - Mirror the brand's voice keywords and terminology from the brand context above.\n4. SPEAK TO THE PERSONA - Address the specific audience persona described above with their exact pain points and motivations.\n5. VISUAL CONCEPTS MUST BE GENERATABLE - No realistic human faces. Use: product mockups, app screenshots, before/after comparisons, data visualizations, symbolic imagery.\n6. EACH CONCEPT MUST BE GENUINELY DIFFERENT - Different hook archetype, different visual approach.\n7. AVOID FORBIDDEN WORDS - Check the forbidden words/phrases list above and never use those terms.\n\nOutput ONLY the JSON object.`;\n\nconst requestBody = {\n  model: \"anthropic/claude-sonnet-4.5\",\n  messages: [{ role: \"user\", content: prompt }],\n  max_tokens: 4000,\n  temperature: 0.8\n};\n\nreturn [{ json: { ...prevData, concept_generation_request: requestBody } }];"
      },
      "id": "2a4cca7c-66c9-4a48-927e-22c7c1c21b18",
      "name": "Build Concept Generation Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7648,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.concept_generation_request) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "6d886239-180d-4a27-b88d-00ae3dec3b30",
      "name": "Generate Concepts (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7424,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Build Concept Generation Request').first().json;\nconst response = items[0].json;\n\nlet concepts = [];\n\ntry {\n  const content = response.choices?.[0]?.message?.content || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    concepts = parsed.concepts || [];\n  }\n} catch (e) {\n  console.log('Parse error:', e.message);\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    concepts,\n    concepts_raw: response.choices?.[0]?.message?.content\n  }\n}];"
      },
      "id": "f99aa572-2847-4b8c-afee-6ad3c459203b",
      "name": "Parse Concepts Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7200,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// STEP 2: RANK & SELECT BEST CONCEPT\n// =============================================================================\n\nconst prevData = items[0].json;\nconst concepts = prevData.concepts || [];\nconst brandInfo = prevData.brand_info || {};\n\nif (concepts.length === 0) {\n  return [{ json: { ...prevData, error: 'No concepts to evaluate' } }];\n}\n\nconst prompt = `You are an advertising strategist who evaluates ad concepts using the Kallaway Psychology Framework.\n\n## CONCEPTS TO EVALUATE\n\n${JSON.stringify(concepts, null, 2)}\n\n## BRAND CONTEXT\n\n**Brand:** ${brandInfo.brand_name || 'Unknown'}\n**Target audience:** ${brandInfo.target_audience || 'Business owners'}\n**Primary pain points:** ${brandInfo.pain_points || 'Not specified'}\n**Key USPs:** ${brandInfo.key_USPs || brandInfo.key_usps || 'Not specified'}\n\n## SCORING CRITERIA (1-10 each)\n\n### Kallaway Six Checkpoints (40%)\n1. Pain Score - How viscerally does it trigger pain?\n2. Trust Score - How credible is the proof?\n3. Contrarian Score - How differentiated?\n4. Likability Score - How human/relatable?\n5. Rehook Score - Does it maintain interest?\n6. CTA Score - Is the CTA compelling?\n\n### Value Equation (30%)\n7. Contrast Score - Reality vs expectations?\n8. Relevance Score - How precisely targeted?\n\n### Execution (30%)\n9. Visual Feasibility - Can AI generate this? (10=simple graphics, 7-9=mockups/receipts, 4-6=scenes with people, 1-3=realistic faces)\n10. Brand Alignment - Uses actual pain points/USPs?\n11. Atomic Sharability - One sentence explanation?\n12. Scroll-Stop Power - Would this stop scrolling?\n\n## OUTPUT\n\n{\n  \"evaluations\": [\n    {\n      \"concept_name\": \"Name\",\n      \"scores\": {\n        \"pain\": 8, \"trust\": 7, \"contrarian\": 9, \"likability\": 6, \"rehook\": 7, \"cta\": 8,\n        \"contrast\": 8, \"relevance\": 9,\n        \"visual_feasibility\": 7, \"brand_alignment\": 8, \"atomic_sharability\": 9, \"scroll_stop_power\": 8\n      },\n      \"weighted_total\": 8.0,\n      \"strengths\": [\"What works\"],\n      \"weaknesses\": [\"What could improve\"]\n    }\n  ],\n  \"ranking\": [\n    {\"rank\": 1, \"concept_name\": \"Winner\", \"weighted_total\": 8.5}\n  ],\n  \"winner\": {\n    \"concept_name\": \"Name of winner\",\n    \"why_it_won\": \"2-3 sentence explanation\",\n    \"recommended_tweaks\": [\"Any improvements\"]\n  }\n}\n\nBe honest and critical. Output ONLY JSON.`;\n\nconst requestBody = {\n  model: \"anthropic/claude-sonnet-4.5\",\n  messages: [{ role: \"user\", content: prompt }],\n  max_tokens: 3000,\n  temperature: 0.3\n};\n\nreturn [{ json: { ...prevData, ranking_request: requestBody } }];"
      },
      "id": "86d73cb3-a711-409c-bc56-85220b0524d8",
      "name": "Build Ranking Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6992,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ranking_request) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "87689181-24ae-4dd5-9ab8-c5e9b3cdad1b",
      "name": "Rank Concepts (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6768,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Build Ranking Request').first().json;\nconst response = items[0].json;\n\nlet ranking = {};\n\ntry {\n  const content = response.choices?.[0]?.message?.content || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    ranking = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  console.log('Parse error:', e.message);\n}\n\n// Find winning concept\nconst concepts = prevData.concepts || [];\nconst winnerName = ranking.winner?.concept_name || concepts[0]?.concept_name;\nconst winningConcept = concepts.find(c => c.concept_name === winnerName) || concepts[0];\n\nreturn [{\n  json: {\n    ...prevData,\n    ranking,\n    winning_concept: winningConcept,\n    ranking_raw: response.choices?.[0]?.message?.content\n  }\n}];"
      },
      "id": "a45f8266-1e0b-4cab-ba63-fd2b2952b505",
      "name": "Parse Ranking Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6544,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// Build VisionStruct Generation Request - V1\n// Generates new VisionStruct from winning concept + original vibe\n// =============================================================================\n\nconst prevData = items[0].json;\nconst winningConcept = prevData.winning_concept || {};\nconst visionJson = prevData.vision_json || {};\nconst brandInfo = prevData.brand_info || {};\n\nconst copy = winningConcept.copy || {};\nconst hook = winningConcept.hook || {};\nconst visualConcept = winningConcept.visual_concept || {};\n\n// Extract vibe data from original VisionStruct\nconst photography = visionJson.photography || {};\nconst theVibe = visionJson.the_vibe || {};\nconst criticalElements = visionJson.critical_elements || {};\nconst whatMakesItWork = visionJson.what_makes_it_work || {};\nconst textOcr = visionJson.text_ocr || {};\n\n// Build vibe summary\nconst isUGC = photography.is_ugc === true || (photography.style || '').toLowerCase().includes('ugc');\nconst photographyStyle = photography.style || 'Unknown';\nconst qualityFeel = photography.quality_feel || 'Unknown';\nconst vibeEnergy = theVibe.energy || 'Unknown';\nconst vibeMood = theVibe.mood || 'Unknown';\nconst vibeAesthetic = theVibe.aesthetic || 'Unknown';\nconst authenticityLevel = theVibe.authenticity_level || 'Unknown';\nconst platformFeel = theVibe.platform_native_feel || 'Unknown';\nconst textOverlayStyle = theVibe.text_overlay_style || 'Unknown';\nconst copyStructure = textOcr.copy_structure || 'Unknown';\n\n// Detect native social style\nconst nativeSocialPatterns = ['instagram-story', 'instagram story', 'tiktok', 'native', 'screenshot', 'notes app', 'apple notes', 'text message', 'imessage', 'tweet', 'caption-storytelling', 'organic', 'user-generated'];\nconst platformFeelLower = platformFeel.toLowerCase();\nconst textOverlayStyleLower = textOverlayStyle.toLowerCase();\nconst aestheticLower = vibeAesthetic.toLowerCase();\n\nconst isNativeSocialStyle = nativeSocialPatterns.some(pattern =>\n  platformFeelLower.includes(pattern) ||\n  textOverlayStyleLower.includes(pattern) ||\n  aestheticLower.includes(pattern)\n) || isUGC;\n\nconst brandName = brandInfo.brand_name || 'Brand';\nconst aspectRatio = visionJson.meta?.aspect_ratio || '9:16';\n\nconst prompt = `You are a visual ad designer. Create a VisionStruct JSON specification for a new ad that CAPTURES THE EXACT VIBE of the original.\n\n## YOUR TASK\n\nCreate a NEW VisionStruct JSON that:\n1. Uses the WINNING CONCEPT's copy and psychology (provided below)\n2. BUT maintains the ORIGINAL AD's visual structure, layout, AND VIBE\n\n## CRITICAL: THE VIBE TO CAPTURE\n\n${isUGC ? '⚠️ THIS IS A UGC-STYLE AD - The generated ad MUST feel authentic, not polished or stock-like.' : ''}\n${isNativeSocialStyle ? `\n🚨 NATIVE SOCIAL STYLE DETECTED 🚨\nThe original ad uses \"${platformFeel}\" style with \"${textOverlayStyle}\" text.\n\n**MANDATORY RULES:**\n- DO NOT use brand fonts - use system fonts (San Francisco, Helvetica, Arial)\n- DO NOT use brand colors for text - use black #000000 or white #FFFFFF\n- DO NOT include logo objects\n- The image should look organic, NOT like a branded advertisement\n` : ''}\n\n**Photography Style:** ${photographyStyle}\n**Quality Feel:** ${qualityFeel}\n**Energy:** ${vibeEnergy}\n**Mood:** ${vibeMood}\n**Aesthetic:** ${vibeAesthetic}\n**Authenticity Level:** ${authenticityLevel}\n**Platform Feel:** ${platformFeel}\n**Text Style:** ${textOverlayStyle} / ${copyStructure}\n\n${criticalElements.what_makes_it_authentic ? '**What Makes It Authentic:** ' + criticalElements.what_makes_it_authentic : ''}\n${criticalElements.composition_signature ? '**Composition Signature:** ' + criticalElements.composition_signature : ''}\n${whatMakesItWork.scroll_stop_factor ? '**Scroll Stop Factor:** ' + whatMakesItWork.scroll_stop_factor : ''}\n\n## WINNING CONCEPT\n\n**Concept Name:** ${winningConcept.concept_name}\n**Horseman:** ${winningConcept.primary_horseman}\n**Hook Archetype:** ${winningConcept.hook_archetype}\n\n**Hook:**\n${JSON.stringify(hook, null, 2)}\n\n**Copy Options:**\n${JSON.stringify(copy, null, 2)}\n\n**Visual Direction:**\n${JSON.stringify(visualConcept, null, 2)}\n\n## ORIGINAL AD's FULL VISIONSTRUCT (match this structure AND vibe)\n\n\\`\\`\\`json\n${JSON.stringify(visionJson, null, 2)}\n\\`\\`\\`\n\n## BRAND STYLING ${isNativeSocialStyle ? '(FOR REFERENCE ONLY - DO NOT APPLY TO NATIVE SOCIAL)' : 'TO APPLY'}\n\n- Brand Name: ${brandName}\n- Background Color: ${brandInfo.background_color || '#0a0a0a'}\n- Text Color: ${brandInfo.secondary_color || '#f7f4f0'}\n- Accent Color: ${brandInfo.accent_color || '#FADC3C'}\n- Primary Font: ${brandInfo.primary_font || 'Inter'}\n\n${isNativeSocialStyle ? '**FOR NATIVE SOCIAL:** Use original text styling (system fonts, black/white text). Result should look like organic social post.' : ''}\n\n## OUTPUT FORMAT\n\nGenerate complete VisionStruct JSON with:\n1. **global_context**: Scene description matching original's style AND vibe\n2. **composition**: COPY the original's layout_type exactly\n3. **photography**: COPY original's style, quality_feel, is_ugc\n4. **the_vibe**: COPY original's energy, mood, aesthetic, authenticity_level, platform_native_feel\n5. **critical_elements**: Update for new brand but maintain composition_signature\n6. **objects**: Match original's object types and positions\n7. **text_ocr**: New text with positions matching original's placement AND copy_structure\n8. **color_palette**: ${isNativeSocialStyle ? 'Match original colors (no brand colors)' : 'Use brand colors'}\n9. **brand_styling**: Brand colors and fonts\n\n**VIBE RULES:**\n- If original was UGC-style, output MUST be UGC-style (is_ugc: true)\n- If original had iPhone-authentic quality, yours should too\n- Match energy, mood, and intimacy level exactly\n- NEVER make polished/stock ad from UGC original\n\nOutput ONLY valid JSON, no markdown code blocks.`;\n\nconst requestBody = {\n  model: \"anthropic/claude-sonnet-4.5\",\n  messages: [{ role: \"user\", content: prompt }],\n  max_tokens: 8000,\n  temperature: 0.4\n};\n\nreturn [{\n  json: {\n    ...prevData,\n    visionstruct_generation_request: requestBody,\n    is_native_social_style: isNativeSocialStyle,\n    is_ugc: isUGC\n  }\n}];"
      },
      "id": "3ba01324-c3c3-446a-9843-44f48e39ecc3",
      "name": "Build VisionStruct Generation Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6320,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.visionstruct_generation_request) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "65a7ce39-a4f6-41b1-a16c-d2bd575f56a4",
      "name": "Generate VisionStruct",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6096,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// Parse VisionStruct Response\n// =============================================================================\n\nconst prevData = $('Build VisionStruct Generation Request').first().json;\nconst response = items[0].json;\n\nlet generatedVisionstruct = {};\n\ntry {\n  const content = response.choices?.[0]?.message?.content || '';\n  // Try to parse JSON, handling potential markdown code blocks\n  let jsonContent = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const jsonMatch = jsonContent.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    generatedVisionstruct = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  console.log('Parse error:', e.message);\n  generatedVisionstruct = { error: 'Failed to parse', raw_preview: response.choices?.[0]?.message?.content?.substring(0, 500) };\n}\n\nconst { visionstruct_generation_request, ...cleanData } = prevData;\n\nreturn [{\n  json: {\n    ...cleanData,\n    generated_visionstruct: generatedVisionstruct,\n    visionstruct_raw: response.choices?.[0]?.message?.content\n  }\n}];"
      },
      "id": "5d039c2c-ac58-4bfc-b814-0e141de9a507",
      "name": "Parse VisionStruct Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5872,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// STEP 3: CONSTRUCT IMAGE SPEC JSON\n// =============================================================================\n\nconst prevData = items[0].json;\n\nconst winningConcept = prevData.winning_concept || {};\nconst ranking = prevData.ranking || {};\nconst visionJson = prevData.vision_json || {};\nconst brandInfo = prevData.brand_info || {};\n\nconst prompt = `You are a technical art director converting a creative concept into an image generation specification.\n\n## WINNING CONCEPT\n\n${JSON.stringify(winningConcept, null, 2)}\n\n## RECOMMENDED TWEAKS\n\n${JSON.stringify(ranking.winner?.recommended_tweaks || [], null, 2)}\n\n## COMPETITOR'S VISUAL STRUCTURE (Layout reference)\n\n${JSON.stringify(visionJson.composition || {}, null, 2)}\n\n## BRAND STYLING (MUST USE EXACTLY)\n\n**Colors:**\n- Background: ${brandInfo.background_color || '#0a0a0a'}\n- Primary text: ${brandInfo.secondary_color || '#f7f4f0'}\n- Accent/CTA: ${brandInfo.accent_color || '#FADC3C'}\n${brandInfo.accent_color_orange ? `- Orange: ${brandInfo.accent_color_orange}` : ''}\n${brandInfo.accent_color_blue ? `- Blue: ${brandInfo.accent_color_blue}` : ''}\n\n**Typography:**\n- Font: ${brandInfo.primary_font || 'Inter'}\n- Fallback: ${brandInfo.font_fallback || 'Helvetica, sans-serif'}\n- Tracking: ${brandInfo.typography_tracking || '-2%'}\n- Line height: ${brandInfo.typography_line_height || '95%'}\n\n## OUTPUT FORMAT\n\n{\n  \"ad_concept_name\": \"Name_With_Underscores\",\n  \"file_specs\": {\n    \"dimensions\": \"1080x1920\",\n    \"format\": \"9:16 Vertical\"\n  },\n  \"brand_styling\": {\n    \"background_color\": \"#0a0a0a\",\n    \"primary_accent_color\": \"#FADC3C\",\n    \"secondary_accent_color\": \"#f7f4f0\",\n    \"primary_font\": \"Font name\",\n    \"typography_treatment\": \"Bold headlines, clean body\"\n  },\n  \"layout_layers\": [\n    {\n      \"layer_name\": \"Headline\",\n      \"type\": \"text\",\n      \"content\": \"Headline text\",\n      \"style\": { \"color\": \"#FFFFFF\", \"weight\": \"800\", \"size_px\": 72, \"alignment\": \"left\" },\n      \"position\": { \"top_px\": 120, \"left_px\": 60 }\n    },\n    {\n      \"layer_name\": \"Subheadline\",\n      \"type\": \"text\",\n      \"content\": \"Subheadline text\",\n      \"style\": { \"color\": \"#FADC3C\", \"weight\": \"600\", \"size_px\": 36 },\n      \"position\": { \"top_px\": 320, \"left_px\": 60 }\n    },\n    {\n      \"layer_name\": \"Visual_Element\",\n      \"type\": \"image_placeholder\",\n      \"position\": { \"top_px\": 450, \"center_x\": true, \"width_px\": 900, \"height_px\": 600 },\n      \"image_generation_prompt\": \"Detailed 50+ word prompt for the visual element only. Specify colors (#FADC3C yellow, #0a0a0a black), style, objects. Use 'on dark background'. NO realistic human faces.\"\n    },\n    {\n      \"layer_name\": \"Data_Point\",\n      \"type\": \"text_badge\",\n      \"content\": \"22% more revenue\",\n      \"style\": { \"color\": \"#0a0a0a\", \"background_color\": \"#FADC3C\", \"weight\": \"700\", \"size_px\": 32 },\n      \"position\": { \"top_px\": 1100, \"left_px\": 60 }\n    },\n    {\n      \"layer_name\": \"CTA_Button\",\n      \"type\": \"button\",\n      \"content\": \"Button Text\",\n      \"style\": { \"background_color\": \"#FADC3C\", \"text_color\": \"#0a0a0a\", \"weight\": \"700\", \"size_px\": 42, \"border_radius_px\": 100 },\n      \"position\": { \"bottom_px\": 120, \"center_x\": true }\n    }\n  ]\n}\n\n## RULES\n\n1. USE EXACT BRAND COLORS - Hex codes are non-negotiable\n2. PROPER LAYER POSITIONS - Headline at top, visual in middle, CTA at bottom\n3. IMAGE PROMPT - Describe visual only, not text. Specify style/colors. Use \"on dark background\"\n4. TEXT CONTENT - Use exact copy from winning concept\n5. NO REALISTIC FACES in image prompt\n6. image_generation_prompt must be 50+ words with specific details\n\nOutput ONLY the JSON object.`;\n\nconst requestBody = {\n  model: \"anthropic/claude-sonnet-4.5\",\n  messages: [{ role: \"user\", content: prompt }],\n  max_tokens: 3000,\n  temperature: 0.4\n};\n\nreturn [{ json: { ...prevData, json_construction_request: requestBody } }];"
      },
      "id": "febeb7b3-0f75-4970-bc06-6220598ae850",
      "name": "Build JSON Construction Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5648,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.json_construction_request) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "bc33bef4-639a-4df0-bbab-ccd6843f102b",
      "name": "Construct JSON (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5424,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Build JSON Construction Request').first().json;\nconst response = items[0].json;\n\nlet imageSpec = {};\n\ntry {\n  const content = response.choices?.[0]?.message?.content || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    imageSpec = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  console.log('Parse error:', e.message);\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    image_generation_prompt: imageSpec,\n    image_spec_raw: response.choices?.[0]?.message?.content\n  }\n}];"
      },
      "id": "ca4ab83f-446e-439c-9125-cd038f58031f",
      "name": "Parse Final JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5200,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// Build Image Request - V8 VIBE-AWARE\n// Uses generated_visionstruct with vibe capture for authentic ad generation\n// =============================================================================\n\nconst prevData = items[0].json;\nconst generatedVisionstruct = prevData.generated_visionstruct || {};\nconst brandInfo = prevData.brand_info || {};\nconst isNativeSocialStyle = prevData.is_native_social_style || false;\nconst isUGC = prevData.is_ugc || false;\n\n// Aspect ratio dimensions map\nconst ASPECT_RATIO_MAP = {\n  '9:16': { width: 1080, height: 1920, format: '9:16 Vertical' },\n  '4:5': { width: 1080, height: 1350, format: '4:5 Portrait' },\n  '1:1': { width: 1080, height: 1080, format: '1:1 Square' },\n  '16:9': { width: 1920, height: 1080, format: '16:9 Landscape' },\n  '4:3': { width: 1440, height: 1080, format: '4:3' }\n};\n\n// Get aspect ratio from generated VisionStruct or original\nlet aspectRatio = generatedVisionstruct.meta?.aspect_ratio || prevData.vision_json?.meta?.aspect_ratio || '4:5';\nif (aspectRatio.includes('Vertical')) aspectRatio = '9:16';\nif (aspectRatio.includes('Square')) aspectRatio = '1:1';\nif (aspectRatio.includes('Portrait') || aspectRatio.includes('4:5')) aspectRatio = '4:5';\nif (aspectRatio.includes('Landscape') || aspectRatio.includes('16:9')) aspectRatio = '16:9';\n\nconst dims = ASPECT_RATIO_MAP[aspectRatio] || ASPECT_RATIO_MAP['4:5'];\n\n// Extract vibe data from generated VisionStruct\nconst photography = generatedVisionstruct.photography || {};\nconst theVibe = generatedVisionstruct.the_vibe || {};\nconst criticalElements = generatedVisionstruct.critical_elements || {};\n\nconst photographyStyle = photography.style || '';\nconst qualityFeel = photography.quality_feel || '';\nconst authenticityMarkers = Array.isArray(photography.authenticity_markers) ? photography.authenticity_markers.join(', ') : '';\n\nconst vibeEnergy = theVibe.energy || '';\nconst vibeMood = theVibe.mood || '';\nconst vibeAesthetic = theVibe.aesthetic || '';\nconst authenticityLevel = theVibe.authenticity_level || '';\nconst platformFeel = theVibe.platform_native_feel || '';\nconst textOverlayStyle = theVibe.text_overlay_style || '';\nconst storyImplied = theVibe.story_implied || '';\n\nconst compositionSignature = criticalElements.composition_signature || '';\nconst whatMakesItAuthentic = criticalElements.what_makes_it_authentic || '';\n\n// Build vibe-specific instructions\nlet vibeInstructions = '';\n\n// Native social style takes highest priority\nif (isNativeSocialStyle) {\n  vibeInstructions = `\n## CRITICAL: NATIVE SOCIAL STYLE - ZERO BRANDING IN IMAGE\n\nThis ad uses a \"${platformFeel}\" style with \"${textOverlayStyle}\" text overlay.\nThe image MUST look like an ORGANIC social media post, NOT a branded advertisement.\n\n**ABSOLUTE REQUIREMENTS:**\n- DO NOT use brand fonts - use ONLY system fonts (San Francisco, Helvetica, Arial)\n- DO NOT use brand colors for text - use ONLY black (#000000) or white (#FFFFFF)\n- DO NOT include ANY brand name or logo ANYWHERE in the image\n- The image should look like it was posted organically by a real person\n\n**Photography Style:** ${photographyStyle || 'Authentic/candid'}\n**Quality Feel:** ${qualityFeel || 'iPhone-quality'} - Match this EXACTLY\n**Platform Feel:** ${platformFeel}\n\n**The Vibe:**\n- Energy: ${vibeEnergy}\n- Mood: ${vibeMood}\n- Aesthetic: ${vibeAesthetic}\n- Authenticity Level: ${authenticityLevel}\n\n**Story Being Told:** ${storyImplied || 'A real person sharing a genuine moment'}\n\nDO NOT: Include brand name or logo, use brand fonts/colors, make it look like a branded ad\nDO: Make text look like native social captions (system fonts, black/white), make photo look phone-taken`;\n} else if (isUGC || photographyStyle.toLowerCase().includes('ugc') || photographyStyle.toLowerCase().includes('selfie')) {\n  vibeInstructions = `\n## CRITICAL: UGC/AUTHENTIC STYLE REQUIRED\n\nThis ad MUST look like authentic user-generated content, NOT a polished stock photo.\n\n**Photography Style:** ${photographyStyle}\n**Quality Feel:** ${qualityFeel} - Match this EXACTLY\n**Authenticity Markers:** ${authenticityMarkers || 'natural lighting, real environment, candid feel'}\n\n**The Vibe:**\n- Energy: ${vibeEnergy}\n- Mood: ${vibeMood}\n- Aesthetic: ${vibeAesthetic}\n- Platform Feel: ${platformFeel}\n\n**Story Being Told:** ${storyImplied || 'A real person sharing a genuine moment'}\n\n**Composition Signature:** ${compositionSignature || 'Authentic, unposed feel'}\n**What Makes It Authentic:** ${whatMakesItAuthentic || 'Real environment, natural lighting'}\n\nDO NOT: Use stock photography, overly polished studio lighting, traditional ad aesthetics\nDO: Make it look phone-taken, include environmental imperfections, capture authentic energy`;\n} else if (photographyStyle || vibeEnergy || vibeMood) {\n  vibeInstructions = `\n## VISUAL STYLE TO MATCH\n\n**Photography Style:** ${photographyStyle}\n**Quality Feel:** ${qualityFeel}\n**Authenticity Level:** ${authenticityLevel}\n\n**The Vibe:**\n- Energy: ${vibeEnergy}\n- Mood: ${vibeMood}\n- Aesthetic: ${vibeAesthetic}\n- Platform Feel: ${platformFeel}\n\n${compositionSignature ? '**Composition Signature:** ' + compositionSignature : ''}\n\nMatch this visual style and energy precisely.`;\n}\n\n// Text overlay style instructions\nlet textStyleInstructions = '';\nconst textOverlayStyleLower = textOverlayStyle.toLowerCase();\nif (textOverlayStyleLower.includes('caption') || textOverlayStyleLower.includes('story')) {\n  textStyleInstructions = `\n## TEXT STYLE: CAPTION/STORY FORMAT\nThe text should look like native social media captions - multi-line, story-driven, like someone talking directly to the viewer. NOT traditional headline/subhead ad copy.`;\n} else if (textOverlayStyleLower.includes('headline')) {\n  textStyleInstructions = `\n## TEXT STYLE: HEADLINE FOCUSED\nBold, punchy headline with minimal supporting text. Traditional ad hierarchy.`;\n}\n\n// Build the final prompt\nlet textPrompt = `Generate an advertisement image that EXACTLY matches this VisionStruct specification:\n\n\\`\\`\\`json\n${JSON.stringify(generatedVisionstruct, null, 2)}\n\\`\\`\\`\n\n## IMAGE REQUIREMENTS\n- Dimensions: ${dims.width}x${dims.height} pixels (${aspectRatio})\n- Format: High-quality PNG\n\n## ABSOLUTE REQUIREMENT: NO LOGOS OR BRAND NAMES\n\n🚫 CRITICAL - READ THIS CAREFULLY 🚫\n\nDo NOT include ANY of the following in the generated image:\n- The brand name \"${brandInfo.brand_name || 'the brand'}\" - DO NOT write this text anywhere\n- ANY logo, wordmark, or brand identifier\n- ANY text that looks like a company name or logo\n- Generic \"brand\" placeholder text\n- Watermarks or brand marks of any kind\n\nThe image must contain ZERO brand identification. If the VisionStruct or any instruction asks for a logo, IGNORE that instruction. Generate the ad creative WITHOUT any logo or brand name text.\n\nThis is NON-NEGOTIABLE. A logo-free image is required.\n${vibeInstructions}\n${textStyleInstructions}\n\n## STRUCTURAL INSTRUCTIONS\n\nFollow the VisionStruct JSON precisely:\n\n1. **LAYOUT**: Use the exact layout_type from composition\n2. **OBJECTS**: Render each object from the objects array at their specified positions\n3. **TEXT**: Render all text from text_ocr at their specified positions with the correct styling\n4. **COLORS**: Use the exact hex colors from color_palette and brand_styling\n5. **STYLE**: Match the scene_description and mood from global_context\n6. **BACKGROUND**: If layout_type is \"Layered\" use photo background with text overlay\n7. **PEOPLE**: Only include people if the objects array contains Person items\n\nThe VisionStruct is your complete blueprint. Follow it precisely, paying special attention to the VIBE and authenticity level.`;\n\nconst requestBody = {\n  model: \"google/gemini-3-pro-image-preview\",\n  messages: [{ role: \"user\", content: textPrompt }],\n  max_tokens: 4096\n};\n\nreturn [{\n  json: {\n    ...prevData,\n    image_request_body: requestBody,\n    image_prompt_text: textPrompt,\n    requested_aspect_ratio: aspectRatio,\n    requested_dimensions: `${dims.width}x${dims.height}`,\n    vibe_mode: isNativeSocialStyle ? 'native_social' : (isUGC ? 'ugc' : 'standard')\n  }\n}];"
      },
      "id": "b9647d7a-1136-41d5-9b4b-3eb14d8f35c6",
      "name": "Build Image Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4976,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.image_request_body) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "d7b1d94b-1454-47d3-b3eb-af22e10dda19",
      "name": "Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4752,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const prevData = $('Build Image Request').first().json;\nconst response = items[0].json;\n\nlet imageUrl = '';\nlet imageBase64 = '';\n\ntry {\n  // Gemini returns images in choices[0].message.images array\n  const images = response.choices?.[0]?.message?.images;\n  if (Array.isArray(images) && images.length > 0) {\n    const firstImage = images[0];\n    if (firstImage.image_url?.url) {\n      const dataUrl = firstImage.image_url.url;\n      if (dataUrl.startsWith('data:image/')) {\n        imageBase64 = dataUrl.split(',')[1];\n      } else if (dataUrl.startsWith('http')) {\n        imageUrl = dataUrl;\n      }\n    }\n  }\n  \n  // Also check content for base64 or URL\n  const content = response.choices?.[0]?.message?.content || '';\n  if (!imageBase64 && !imageUrl) {\n    const urlMatch = content.match(/https?:\\/\\/[^\\s\"']+\\.(png|jpg|jpeg|webp)/i);\n    if (urlMatch) {\n      imageUrl = urlMatch[0];\n    }\n  }\n} catch (e) {\n  console.log('Parse error:', e.message);\n}\n\nconst { image_request_body, ...cleanData } = prevData;\n\nreturn [{\n  json: {\n    ...cleanData,\n    generated_image_url: imageUrl,\n    generated_image_base64: imageBase64,\n    has_image: !!(imageBase64 || imageUrl),\n    status: imageBase64 || imageUrl ? 'GENERATED' : 'IMAGE_FAILED'\n  }\n}];"
      },
      "id": "4a14b914-1432-4d78-bc1f-4eaf3f120a1e",
      "name": "Parse Image Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4528,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.has_image }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a8e6a431-1657-4a9f-b6ec-333b9b7fe7b6",
      "name": "Check Image Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4304,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst adId = data.ad_archive_id || 'unknown';\nconst conceptName = data.winning_concept?.concept_name?.replace(/\\s+/g, '_') || 'ad';\n\nif (data.generated_image_base64) {\n  let base64Data = data.generated_image_base64;\n  if (base64Data.includes(',')) base64Data = base64Data.split(',')[1];\n  base64Data = base64Data.replace(/\\s/g, '');\n  \n  let mimeType = 'image/jpeg', ext = 'jpg';\n  if (base64Data.startsWith('iVBORw')) { mimeType = 'image/png'; ext = 'png'; }\n  \n  const filename = `${conceptName}_${adId}_${timestamp}.${ext}`;\n  const buffer = Buffer.from(base64Data, 'base64');\n  \n  return [{\n    json: { ...data, filename, detected_mime_type: mimeType, file_size_bytes: buffer.length },\n    binary: { data: { data: buffer.toString('base64'), mimeType, fileName: filename } }\n  }];\n}\n\nreturn [{ json: { ...data, filename: `${conceptName}_${adId}_${timestamp}.jpg`, error: 'No base64' } }];"
      },
      "id": "30140986-3759-4227-9eb2-15f586f23767",
      "name": "Prepare for Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4080,
        320
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1lkrqmXwsQ__Orm7TrzY8gQi1amB6VMHV",
          "mode": "list",
          "cachedResultName": "Big Players Ad Scraping",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lkrqmXwsQ__Orm7TrzY8gQi1amB6VMHV"
        },
        "options": {}
      },
      "id": "becf2b6d-530f-40cd-8e15-3ff9eab900ee",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3856,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "c1lX68Ne53WW1ODn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "id": "3dcc72fe-3c67-415a-be01-aa75e5eb6eb9",
      "name": "Get Shareable Link",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3632,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "c1lX68Ne53WW1ODn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SOr0Bxkn2Luf85EADvFdFfJbkc0kPUYbRGduKjGNieI",
          "mode": "list",
          "cachedResultName": "Big Players Ad Intelligence (Public)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SOr0Bxkn2Luf85EADvFdFfJbkc0kPUYbRGduKjGNieI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Competitor_Ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14qZY6RP6xCmqifmEG4xXYbYMrPSXMQL0YcTGdi9UIJk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ad_archive_id": "={{ $('Parse Image Response').first().json.ad_archive_id }}",
            "status": "GENERATED",
            "generated_image_url": "=https://drive.google.com/file/d/{{ $json.id }}/view",
            "generated_headlines": "={{ $('Parse Image Response').first().json.winning_concept?.copy?.headline }}",
            "generated_body_copy": "={{ $('Parse Image Response').first().json.winning_concept?.copy?.subheadline }}",
            "generated_cta": "={{ $('Parse Image Response').first().json.winning_concept?.copy?.cta_text }}",
            "generated_data_point": "={{ $('Parse Image Response').first().json.winning_concept?.copy?.data_point }}",
            "generated_hook_full": "={{ $('Parse Image Response').first().json.winning_concept?.hook?.full_hook }}",
            "generated_hook_archetype": "={{ $('Parse Image Response').first().json.winning_concept?.hook_archetype }}",
            "generated_primary_horseman": "={{ $('Parse Image Response').first().json.winning_concept?.primary_horseman }}",
            "checkpoint_pain": "={{ $('Parse Image Response').first().json.winning_concept?.psychology_mapping?.pain_checkpoint }}",
            "checkpoint_trust": "={{ $('Parse Image Response').first().json.winning_concept?.psychology_mapping?.trust_checkpoint }}",
            "ad_concept_name": "={{ $('Parse Image Response').first().json.winning_concept?.concept_name }}",
            "layer_count": "={{ $('Parse Image Response').first().json.image_generation_prompt?.layout_layers?.length }}",
            "image_prompt_json": "={{ JSON.stringify($('Parse Image Response').first().json.image_generation_prompt) }}",
            "visual_concept": "={{ $('Parse Image Response').first().json.winning_concept?.visual_concept?.description }}",
            "one_sentence_summary": "={{ $('Parse Image Response').first().json.winning_concept?.one_sentence_summary }}",
            "concept_ranking_score": "={{ $('Parse Ranking Response').first().json.ranking?.evaluations?.[0]?.weighted_total }}",
            "row_number": 0
          },
          "matchingColumns": [
            "ad_archive_id"
          ],
          "schema": [
            {
              "id": "ad_archive_id",
              "displayName": "ad_archive_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "page_id",
              "displayName": "page_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "page_name",
              "displayName": "page_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "run_duration_days",
              "displayName": "run_duration_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "collation_count",
              "displayName": "collation_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "effectiveness_score",
              "displayName": "effectiveness_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body_text",
              "displayName": "body_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cta_type",
              "displayName": "cta_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "media_type",
              "displayName": "media_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "video_thumbnail_url",
              "displayName": "video_thumbnail_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "creative_hash",
              "displayName": "creative_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_checked",
              "displayName": "last_checked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vision_json",
              "displayName": "vision_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "marketing_insights",
              "displayName": "marketing_insights",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_headlines",
              "displayName": "generated_headlines",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_body_copy",
              "displayName": "generated_body_copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_image_prompt",
              "displayName": "generated_image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_image_url",
              "displayName": "generated_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "publisher_platforms",
              "displayName": "publisher_platforms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "diff_status",
              "displayName": "diff_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "previous_hash",
              "displayName": "previous_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_primary_horseman",
              "displayName": "psychology_primary_horseman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_secondary_horseman",
              "displayName": "psychology_secondary_horseman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_value_score",
              "displayName": "psychology_value_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_checkpoints_passed",
              "displayName": "psychology_checkpoints_passed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_avg_checkpoint_score",
              "displayName": "psychology_avg_checkpoint_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_hook_archetype",
              "displayName": "psychology_hook_archetype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_one_std_deviation",
              "displayName": "psychology_one_std_deviation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_hook_full",
              "displayName": "generated_hook_full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_hook_archetype",
              "displayName": "generated_hook_archetype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hook_type",
              "displayName": "hook_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_primary_horseman",
              "displayName": "generated_primary_horseman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_contrast_mechanism",
              "displayName": "generated_contrast_mechanism",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quality_passes_checkpoints",
              "displayName": "quality_passes_checkpoints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quality_scroll_stop_power",
              "displayName": "quality_scroll_stop_power",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quality_conversion_potential",
              "displayName": "quality_conversion_potential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "angle",
              "displayName": "angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "funnel_stage",
              "displayName": "funnel_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "swipe_file_notes",
              "displayName": "swipe_file_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_cta",
              "displayName": "generated_cta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_data_point",
              "displayName": "generated_data_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_hook_full",
              "displayName": "generated_hook_full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkpoint_pain",
              "displayName": "checkpoint_pain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkpoint_trust",
              "displayName": "checkpoint_trust",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_concept_name",
              "displayName": "ad_concept_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "layer_count",
              "displayName": "layer_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_prompt_json",
              "displayName": "image_prompt_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_image_url",
              "displayName": "generated_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "collation_id",
              "displayName": "collation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cta_text",
              "displayName": "cta_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link_url",
              "displayName": "link_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link_description",
              "displayName": "link_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cards_count",
              "displayName": "cards_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "visual_concept",
              "displayName": "visual_concept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "one_sentence_summary",
              "displayName": "one_sentence_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "concept_ranking_score",
              "displayName": "concept_ranking_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detected_aspect_ratio",
              "displayName": "detected_aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_background_type",
              "displayName": "detected_background_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_has_photo",
              "displayName": "detected_has_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_secondary_horseman",
              "displayName": "psychology_secondary_horseman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_one_std_deviation",
              "displayName": "psychology_one_std_deviation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "key_value_proposition",
              "displayName": "key_value_proposition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "af3c8c41-11f3-41e4-abff-aa157b01b65e",
      "name": "Update Google Sheet - Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -3408,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7rou2y9XeyGHdBO0",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...items[0].json, status: 'COPY_ONLY_NO_IMAGE' } }];"
      },
      "id": "84856236-0890-4bdf-84b6-f0a3e579d746",
      "name": "Skip - No Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4080,
        512
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SOr0Bxkn2Luf85EADvFdFfJbkc0kPUYbRGduKjGNieI",
          "mode": "list",
          "cachedResultName": "Big Players Ad Intelligence (Public)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SOr0Bxkn2Luf85EADvFdFfJbkc0kPUYbRGduKjGNieI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Competitor_Ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14qZY6RP6xCmqifmEG4xXYbYMrPSXMQL0YcTGdi9UIJk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ad_archive_id": "={{ $json.ad_archive_id }}",
            "status": "={{ $json.status }}",
            "generated_headlines": "={{ $json.winning_concept?.copy?.headline }}",
            "generated_body_copy": "={{ $json.winning_concept?.copy?.subheadline }}",
            "generated_cta": "={{ $json.winning_concept?.copy?.cta_text }}",
            "generated_data_point": "={{ $json.winning_concept?.copy?.data_point }}",
            "generated_hook_full": "={{ $json.winning_concept?.hook?.full_hook }}",
            "generated_hook_archetype": "={{ $json.winning_concept?.hook_archetype }}",
            "generated_primary_horseman": "={{ $json.winning_concept?.primary_horseman }}",
            "checkpoint_pain": "={{ $json.winning_concept?.psychology_mapping?.pain_checkpoint }}",
            "checkpoint_trust": "={{ $json.winning_concept?.psychology_mapping?.trust_checkpoint }}",
            "ad_concept_name": "={{ $json.winning_concept?.concept_name }}",
            "layer_count": "={{ $json.image_generation_prompt?.layout_layers?.length }}",
            "image_prompt_json": "={{ JSON.stringify($json.image_generation_prompt) }}",
            "row_number": 0
          },
          "matchingColumns": [
            "ad_archive_id"
          ],
          "schema": [
            {
              "id": "ad_archive_id",
              "displayName": "ad_archive_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "page_id",
              "displayName": "page_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "page_name",
              "displayName": "page_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "run_duration_days",
              "displayName": "run_duration_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "collation_count",
              "displayName": "collation_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "effectiveness_score",
              "displayName": "effectiveness_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "body_text",
              "displayName": "body_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cta_type",
              "displayName": "cta_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "media_type",
              "displayName": "media_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "video_thumbnail_url",
              "displayName": "video_thumbnail_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "creative_hash",
              "displayName": "creative_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_checked",
              "displayName": "last_checked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vision_json",
              "displayName": "vision_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "marketing_insights",
              "displayName": "marketing_insights",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_headlines",
              "displayName": "generated_headlines",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_body_copy",
              "displayName": "generated_body_copy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_image_prompt",
              "displayName": "generated_image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_image_url",
              "displayName": "generated_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "publisher_platforms",
              "displayName": "publisher_platforms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "diff_status",
              "displayName": "diff_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "previous_hash",
              "displayName": "previous_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_primary_horseman",
              "displayName": "psychology_primary_horseman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_secondary_horseman",
              "displayName": "psychology_secondary_horseman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_value_score",
              "displayName": "psychology_value_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_checkpoints_passed",
              "displayName": "psychology_checkpoints_passed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_avg_checkpoint_score",
              "displayName": "psychology_avg_checkpoint_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_hook_archetype",
              "displayName": "psychology_hook_archetype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_one_std_deviation",
              "displayName": "psychology_one_std_deviation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_hook_full",
              "displayName": "generated_hook_full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_hook_archetype",
              "displayName": "generated_hook_archetype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hook_type",
              "displayName": "hook_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_primary_horseman",
              "displayName": "generated_primary_horseman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_contrast_mechanism",
              "displayName": "generated_contrast_mechanism",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quality_passes_checkpoints",
              "displayName": "quality_passes_checkpoints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quality_scroll_stop_power",
              "displayName": "quality_scroll_stop_power",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quality_conversion_potential",
              "displayName": "quality_conversion_potential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "angle",
              "displayName": "angle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "funnel_stage",
              "displayName": "funnel_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "swipe_file_notes",
              "displayName": "swipe_file_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_cta",
              "displayName": "generated_cta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_data_point",
              "displayName": "generated_data_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_hook_full",
              "displayName": "generated_hook_full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkpoint_pain",
              "displayName": "checkpoint_pain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "checkpoint_trust",
              "displayName": "checkpoint_trust",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ad_concept_name",
              "displayName": "ad_concept_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "layer_count",
              "displayName": "layer_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_prompt_json",
              "displayName": "image_prompt_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_image_url",
              "displayName": "generated_image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "collation_id",
              "displayName": "collation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cta_text",
              "displayName": "cta_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link_url",
              "displayName": "link_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link_description",
              "displayName": "link_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cards_count",
              "displayName": "cards_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "visual_concept",
              "displayName": "visual_concept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "one_sentence_summary",
              "displayName": "one_sentence_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "concept_ranking_score",
              "displayName": "concept_ranking_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_aspect_ratio",
              "displayName": "detected_aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_background_type",
              "displayName": "detected_background_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_has_photo",
              "displayName": "detected_has_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_secondary_horseman",
              "displayName": "psychology_secondary_horseman",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "psychology_one_std_deviation",
              "displayName": "psychology_one_std_deviation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "key_value_proposition",
              "displayName": "key_value_proposition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "13b4a2b5-93b1-49cc-a5b5-b2c8532b336f",
      "name": "Update Sheet - Copy Only",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -3856,
        512
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7rou2y9XeyGHdBO0",
          "name": "Google Sheets OAuth2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Read Brand Guidelines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Brand Guidelines": {
      "main": [
        [
          {
            "node": "Extract Brand Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Brand Info": {
      "main": [
        [
          {
            "node": "Build Concept Generation Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Concept Generation Request": {
      "main": [
        [
          {
            "node": "Generate Concepts (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Concepts (Claude)": {
      "main": [
        [
          {
            "node": "Parse Concepts Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Concepts Response": {
      "main": [
        [
          {
            "node": "Build Ranking Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ranking Request": {
      "main": [
        [
          {
            "node": "Rank Concepts (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank Concepts (Claude)": {
      "main": [
        [
          {
            "node": "Parse Ranking Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ranking Response": {
      "main": [
        [
          {
            "node": "Build VisionStruct Generation Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build VisionStruct Generation Request": {
      "main": [
        [
          {
            "node": "Generate VisionStruct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate VisionStruct": {
      "main": [
        [
          {
            "node": "Parse VisionStruct Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse VisionStruct Response": {
      "main": [
        [
          {
            "node": "Build JSON Construction Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JSON Construction Request": {
      "main": [
        [
          {
            "node": "Construct JSON (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct JSON (Claude)": {
      "main": [
        [
          {
            "node": "Parse Final JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Final JSON": {
      "main": [
        [
          {
            "node": "Build Image Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image Request": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Parse Image Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image Response": {
      "main": [
        [
          {
            "node": "Check Image Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image Result": {
      "main": [
        [
          {
            "node": "Prepare for Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - No Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Upload": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Get Shareable Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shareable Link": {
      "main": [
        [
          {
            "node": "Update Google Sheet - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip - No Image": {
      "main": [
        [
          {
            "node": "Update Sheet - Copy Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "32a51d5e-0877-4221-b6d2-821c7c3eb197",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f21038f187f7ddf12e940bb55bc64eb117a28b98f8b5539845218f69f7a8aa9"
  },
  "id": "jtGqHXa2IvPlU3Ja",
  "tags": []
}
